.images-slider-container .main-image {
    border-radius: 10px;
}

.images-slider-container .sub-images-container {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.images-slider-container .sub-image {
    border-radius: 30px;
    cursor: pointer;
}