.best-offer-container{
    
    min-height: 60vh;
    margin-bottom: 200px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 15px;
}

.best-offer-container .best-offer-image-container {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    border-radius: 15px;
}

.best-offer-container .best-offer-description-container {
    text-align: start;
    width: 60%;
    padding: 50px;
}

.best-offer-container .days-left-description {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 500;
    color: #75C655
}

.best-offer-container .offer-title-description {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
    color: white
}

.best-offer-container .offer-description {
    text-transform: capitalize;
    font-size: 14px;
    color: white;
    width: 80%;
    margin-top: 20px;
}

.best-offer-container .best-offer-price {
    font-size: 48px;
    font-weight: bold;
    color: #027189;
}

.best-offer-container .best-offer-old-price {
    text-decoration: line-through;
    font-weight: 500;
    color: #027189;
}

.best-offer-container .get-offer-button{
 background-color: rgba(0, 0, 0, 0);
 color: white;
 border: 2px solid white;
 width: 50%;
 margin-top: 20px;
 border-radius: 25px;
 font-weight: bold;
 font-size: 18px;
 padding-top: 4px;
}

.best-offer-container .get-offer-button:hover{
    color: #ccc;
    border: 2px solid #ccc;
}

@media only screen and (max-width: 1000px) {
    .best-offer-container .get-offer-button{
        width: 100%;
        font-size: 14px;
    }

    .best-offer-container .offer-title-description {
        font-size: 30px;
    }

    
}

@media only screen and (max-width: 750px) {
    .best-offer-container .get-offer-button{
        width: 80%;
    }

    .best-offer-container .offer-title-description {
        font-size: 30px;
    }

    .best-offer-container .offer-description {
        width: 100%;
    }

    .best-offer-container .best-offer-description-container {
        width: 80%;
    }
}