
  /* 
  header
  ------ 
  */
  .ant-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .home-navbar {
    padding: 10px 50px;
  }
  
  .home-navbar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  
  
  
.home-navbar   .header .ant-anchor {
    display: flex;
  }
  
  .home-navbar .header .ant-anchor-ink {
    display: none;
  }
  
  
  .home-navbar .header .ant-anchor-link:after {
    left: auto;
    right: 30%;
  }
  
  .home-navbar .header .ant-anchor-link.ant-anchor-link-active:before,
  .home-navbar .header .ant-anchor-link:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .home-navbar .header .ant-anchor-link.ant-anchor-link-active:after,
  .home-navbar .header .ant-anchor-link:hover:after {
    right: 5%;
    opacity: 1;
  }
  
  
  /* ant menu */
  .home-navbar .header .ant-menu {
    border: 0;
    background: none !important;
  }
  
  .home-navbar .header .ant-menu li.ant-menu-item {
    position: relative;
    color: #333;
  }
  
  
  .home-navbar .header .ant-menu li.ant-menu-item:after {
    left: auto;
    right: 30%;
  }
  
  .home-navbar .header .ant-menu li.ant-menu-item,
  .home-navbar .header .ant-menu li.ant-menu-item-selected {
    border: 0 !important;
  }
  
  
  .home-navbar .header .ant-menu li.ant-menu-item-selected:before,
  .home-navbar .header .ant-menu li.ant-menu-item:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .home-navbar .header .ant-menu li.ant-menu-item-selected:after,
  .home-navbar .header .ant-menu li.ant-menu-item:hover:after {
    right: 5%;
    opacity: 1;
  }
  
  .home-navbar .mobileVisible {
    display: none;
  }

  .home-navbar .navbar-item {
    display: inline-block;
    margin-left: 50px;
    text-transform: uppercase;
  }

  .home-navbar .navbar-item-selected {
    font-weight: bold;
  }

   .navbar-item-filled {
    color: white;
    background-color: #005B70;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: capitalize !important;
    padding: 10px 20px;
  }

  .home-navbar .mobile-menu-button {
    background-color: #005B70;
  }

  .home-navbar .mobile-menu-button:hover {
    background-color: #02758f;
  }
  
  
  @media only screen and (max-width: 900px) {
  
    .home-navbar .mobileVisible {
      display: block !important;
    }
    
    .home-navbar .mobileHidden {
      display: none !important;
    }
  }