.product-details-container {
    width: 100%;
    min-height: 80vh;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 7px;
    margin-bottom: 100px;
    margin-top: 25px;
    padding: 25px;
}

.product-details-container .details-container {
    text-align: start;
    padding-top: 50px;
}

.product-details-container .discount-percentage-tag {
    font-weight: bold;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 30px;
}

.product-details-container .category-breadcrumb {
    margin-top: 15px;
    font-size: 12px;
    text-transform: uppercase;
}

.product-details-container .product-name {
    font-size: 70px;
    font-weight: 500;
}

.product-details-container .product-description {
    margin-top: 5px;
    font-size: 14px;
    width: 50%;
}

.product-details-container .product-details-title {
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.product-details-container .product-quantity {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.product-details-container .minus,
.product-details-container .plus {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.product-details-container .product-price {
    padding-top: 20px;
}

.product-details-container .product-old-price {
    text-decoration: line-through;
}

.product-details-container .product-new-price {
    font-size: 32px;
    font-weight: 500;
}

.product-details-container .add-to-cart-button {
    margin-top: 10px;
    font-weight: bold;
    border: 2px solid black;
    padding: 5px 30px;
    border-radius: 30px;
}

.product-details-container .product-size{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}



