.related-offers-container {
    margin-bottom: 100px;
}

.related-offers-container .related-offers-title {
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.related-offers-container .related-offers-sub-title {
    color: black;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 15px;
}