.footer-container {
    background-color: #005B70;
    width: 100%;
    text-align: start;
    padding-left: 50px;
    padding-top: 50px;
}

.footer-container .footer-logo {
    position: absolute;
    left: 5px;
    top: 5px;
}

.footer-container .footer-logo-text {
    width: 80%;
    padding-left: 5px;
    margin-top: 10px;
    color: white;
}

.footer-container .sub-menu-title {
    color: white;
    text-transform: uppercase;
    font-size: large;
}

.footer-container .sub-menu-text {
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: small;
}

.footer-container .footer-icon{
    cursor: pointer;
}



