.offer-card-container {
    background-color: white;
    width: 100%;
    height: 100%;
    min-height: 200px;
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.1);
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.offer-card-container .offer-card-header-container {
    padding: 7px;
}

.offer-card-container .days-left-tag{
    color: #027189;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #027189;
    border-radius: 10px;
}

.offer-card-container .offer-price {
    text-align: end;
    color: #027189;
    font-weight: bold;
}

.offer-card-container .offer-old-price {
    text-align: end;
    text-decoration: line-through;
    font-size: 12px;
}

.offer-card-container .offer-title {
    color: #027189;
    padding-left: 10px;
}

.offer-card-container .offer-sub-title {
    text-align: start;
    font-size: large;
    font-weight: 500;
    padding-left: 10px;
}

.offer-card-container .offer-description {
    text-align: start;
    color: gray;
    padding-left: 10px;
    font-size: 12px;
}


.offer-card-container .offer-add-icon-container {
    padding-top: 10px;
}
